html{
	color:#002d4d;
	font-family:Consolas, Monaco, monospace;
	overscroll-behavior:none;
	touch-action:none;
}
body{
	width:100%;
	margin:0;
	overscroll-behavior:none;
	touch-action:none;
}
#wrapper-out{
	display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    text-align:center;
	width:100%;
	height:258px;
}
#wrapper-mid{
	width:258px;
	height:258px;
}
#wrapper-in{
	display:table;
	height:100%;
	width:100%;
	position:relative;
}
.tile-wrapper{
	height:0;
	width:0;
	margin:0;
}
.row{
	display:table-row;
	height:auto;
}
.empty{
	display:table-cell;
	width:auto;
	position:relative;
}
.empty::after {
	content:' ';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:calc(100% - 6px);
	height:calc(100% - 6px);
	margin:3px;
	background:#f0f7f9;
	z-index:-2;
	border-radius:4px;
}
.tile{
	position:relative;
	display:block;
	font-size:32px;
	transition:all 0.5s ease;
}
.tile::after {
	content:' ';
	position:absolute;
	top:0;
	left:0;
	display:block;
	margin:2px;
	border-radius:4px;
	width:calc(100% - 4px);
	height:calc(100% - 4px);
	z-index:-1;
	transition:all 0.5s ease;
}
.tile.tile-1::after { background-color:#002d4d; }
.tile.tile0 { color:#002d4d; }
.tile.tile0::after { background-color:transparent; }
.tile.tile1 { color:#002d4d; }
.tile.tile1::after { background-color:transparent; }
.tile.tile2 { color:#0252da; }
.tile.tile2::after { background-color:#d4e2f9; }
.tile.tile3 { color:#7e02d9; }
.tile.tile3::after { background-color:#e8daf2; }
.tile.tile4 { color:#b106a5; }
.tile.tile4::after { background-color:#f7d5f4; }
.tile.tile5 { color:#b0053e; }
.tile.tile5::after { background-color:#facad1; }
.tile.tile6 { color:#b06405; }
.tile.tile6::after { background-color:#f7e8d5; }
.tile.tile7 { color:#419c02; }
.tile.tile7::after { background-color:#e4f5d8; }
.tile.tile8 { color:#019c54; }
.tile.tile8::after { background-color:#e3f9ef; }
.tile { color:#019c9c; }
.tile::after { background-color:#ddf9f9; }
#hint{
	position:fixed;
	bottom:-5px;
	background:#002d4d;
	color:#f5fafd;
	padding:5px;
	padding-bottom:10px;
	right:10px;
	left:10px;
	border-radius:4px;
	text-align:center;
}
#controls{
	position:fixed;
	top:0;
	text-align:center;
	width:100%;
}
#logo{
	height:20px;
}
a#link{
	color:#002d4d;
	text-decoration:none;
	height:40px;
	overflow:hidden;
	margin:0;
	position:fixed;
	top:5px;
	width:100%;
	left:0;
}
#link-text{
	position:relative;
	bottom:5px;
}
#status, button{
	margin:0;
	position:relative;
	top:9px;
}
